<a href="https://colab.research.google.com/github/MariGaboardi/PYTHON/blob/main/AULA_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

AULA 2

In [10]:
livro_ficcao = 8
livro_n_ficcao = 10
livro_infantil = 6
pontos_rodrigo = livro_ficcao + livro_n_ficcao + livro_infantil
pontos_ana = 2 * livro_ficcao + 5 * livro_infantil
print(f"Os pontos totais do rodrigo são {pontos_rodrigo}")
pontos_ana = 2 * livro_ficcao + 5 * livro_infantil
print(f"Os pontos totais de Ana são {pontos_Ana}")



livro_ficcao = 8
livro_n_ficcao = 10
livro_infantil = 6
pontos_Ana = 2* livro_ficcao + 5* livro_infantil



pontos_Carlos = 1 * livro_ficcao + 3 * livro_n_ficcao + 3 * livro_infantil
print(f"Os pontos totais do Carlos são {pontos_Carlos}")
print(f"Os pontos totais de Ana + rodrigo + Carlos são {pontos_Ana + pontos_rodrigo + pontos_Carlos}")

Os pontos totais do rodrigo são 24
Os pontos totais de Ana são 46
Os pontos totais do Carlos são 56
Os pontos totais de Ana + rodrigo + Carlos são 126